@import "tailwindcss";

:root {
  --primary: #f1623a;
  --secondary: #ffffff;
  --accent1: #fff4e7;
  --secondary_text: #333333;
  --primary-text: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  * {
    box-sizing: border-box;
  }
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent1);
  --color-primary-text: var(--primary-text);
  --color-secondary-text: var(--secondary-text);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.btn-primary {
  color: var(--primary);
  background-color: var(--secondary);
  border-radius: 50px;
  border: 1px solid var(--primary);
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
}
.btn-primary:hover {
  color: var(--secondary);
  background-color: var(--primary);
  cursor: pointer;
}

.btn-secondary {
  text-align: center;
  color: var(--secondary);
  background-color: var(--primary);
  border-radius: 50px;
  border: 5px solid var(--primary);
  padding: 10px 20px 10px 20px;
}

.btn-secondary:hover{
 border: 5px double var(--accent1); 
   cursor: pointer;
}
