DATABASE_URL=""
NODE_ENV=""
CORS_ORIGIN=""
PORT=""
EMAIL_PASS=""
EMAIL_USER=""
EMAIL_HOST=""
EMAIL_FROM=""
REFRESH_TOKEN_SECRET=""
REFRESH_TOKEN_EXPIRY=""
ACCESS_TOKEN_SECRET=""
ACCESS_TOKEN_EXPIRY=""
PAYTM_MID=""
PAYTM_MERCHANT_KEY=""
PAYTM_WEBSITE=""
PAYTM_INDUSTRY_TYPE=""
PAYTM_CHANNEL_ID=""
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""  
MANUAL_PAYMENT=""
VAPID_PUBLIC_KEY=""
VAPID_PRIVATE_KEY=""
TWOFACTOR_API_KEY=""
